.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

textarea {
    resize: none;
}
ul {
  list-style-type: none;
}

.profile {
    padding: 5px 5px;
    font-size: 15px;
    font-weight: bold;
}

.top-space {
    margin-top: 50px;
}

.note {
    border-left: 6px solid #f90822 !important;
}

.navbar-right {
   padding-right: 15px !important;
}